@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
#nav >li {
    @apply hover:text-slate-600
}
.footer-ul-li > li {
   @apply w-10 h-10
}
    #nav >li {
        @apply hover:text-slate-600
    }

    .hero {
        background-image: url('../img/hero.jpg');
        @apply bg-no-repeat bg-cover
    }
}
.full-banner-cover {
    background-image: url('../img/vista.jpg');
    @apply bg-no-repeat bg-cover
 }

.bg-gradient {
    background:linear-gradient(90deg, rgba(213,118,35,1) 0%, rgba(255,19,99,1) 100%);
}

footer {
    background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(213,118,35,1) 0%, rgba(255,19,99,1) 100%) border-box;
/*  border-top-left-radius: 5em;*/
  border: 4px solid transparent;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
/*    border-bottom: 0;*/
/*    border-left: 0;*/
/*    border-right: 0;*/
}
